.header{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.lateral{
    display: none;
}

@media screen and (min-width:710px){
    .header{
        display: flex;
        flex-direction: column;
    }
    .lateral{
        width: 100%;
        display: flex; 
        flex-direction: column;
        background-color: #0BDE76;

        &__title{
            text-align: center;
        }
        &__content{
            display: flex;
            gap: 8px;
            text-align: center;
            list-style: none;
            margin-bottom: 1.375rem;
            cursor: pointer;
        }
        &__item{
            font-size: 1rem;
            a{
                color: beige;
                &:hover{
                    color: rgb(123, 0, 139);
                }
            }
        }
    }  
}

@media screen and (min-width:1150px){
    .header{
        flex-direction: row;
        width: 100%;
        height: 31.25rem;
    }
    .lateral{
        width: 20%;
        background-color: #044D29;

        &__content{
            flex-direction: column;
            align-items: center;
            text-align: start;
            margin: auto;
            line-height: 50px;
        }
    }
}